@charset "UTF-8";  
/* content */  
.section .wrap{  
    padding-top: 10.625rem;  
    box-sizing: border-box;  
}  
.pause{
    position: absolute;
    z-index: 600;
    top: 2.3125rem;
    left: 36%;
    color: #fff;
    display: flex;
    justify-content: right;
    width: 10%;
}
.pause > div{
    cursor: pointer;
    margin-left: 10px;
}
.pause > div img{
    filter: brightness(100);
    height: 16px;
}
  
/* section0 */  
 
#section0{  
    position: relative;  
    overflow: hidden;  
}  
#section0 .visu_slide{  
    width: 100vw;  
    height: 100vh;  
}  
#section0 .visu_slide .wrap{ 
    position: relative; 
    height: 100%; 
} 
#section0 .visu_slide .slide_txt{ 
    position: absolute; 
    top: 47%; 
    transform: translateY(-50%); 
    color: #fff; 
} 
#section0 .visu_slide .slide_txt a{
    display: inline-block;
}
#section0 .visu_slide .slide_txt h3{ 
    font-size: 3.4375rem; 
    font-weight: 700; 
    text-shadow: 0.625rem 0.625rem 1.25rem rgb(0 0 0 / 5%);
} 
#section0 .visu_slide .slide_txt h3 span{ 
    color: #f8b500; 
    font-weight: 900; 
} 
#section0 .visu_slide .slide_txt h4{ 
    margin-top: 1.875rem; 
    font-size: 1.525rem; 
    font-weight: 400; 
    text-shadow: 0.625rem 0.625rem 1.25rem rgb(0 0 0 / 5%);
} 

#section0 .visu_slide .slide_txt a{
    color: #fff;
    font-size: 1.125rem;
    background: rgba(0, 0, 0, 0.0);
    border: 3px solid #FFFFFF;
    border-radius: 31.25rem;    
    padding: 0.625rem 2.125rem;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
    margin-top: 1.875rem;
}
#section0 .visu_slide .ytn { 
    margin-bottom: 0.625rem; 
} 
#section0 .visu_slide .ytn img{ 
    height: 2.5rem; 
} 
#section0 .visu_slide .lines{ 
    display: flex; 
    margin-top: 1.875rem; 
} 
#section0 .visu_slide .lines .line1{ 
    width: 20%; 
    height: 0.25rem; 
    background: #fff;; 
} 
#section0 .visu_slide .lines .line2{ 
    width: 68.2%; 
    height: 0.125rem; 
    background: #fff; 
    opacity: 0.2; 
} 
#section0 .swiper-button-prev{  
    background-image: url(../images/slide_prev.png) !important;  
    width: 6.25rem !important;  
    height: 6.25rem !important;  
    background-size: 6.25rem 6.25rem !important;  
    left: 6.875rem !important;  
}  
#section0 .swiper-button-next{  
    background-image: url(../images/slide_next.png) !important;  
    width: 6.25rem !important;  
    height: 6.25rem !important;  
    background-size: 6.25rem 6.25rem !important;  
    right: 6.875rem !important;  
}  
#section0 .swiper-pagination{  
    bottom: 4.0625rem !important;  
}  
  
/* section1 */  
#section1 .wrap .sec_top{  
    display: flex;  
}  
#section1 .wrap .sec_top > div{  
    width: 50%;  
    height: 26.25rem;  
}  
#section1 .wrap .sec_top .sec_box.left{  
    margin-right: 2.125rem;  
    padding-top: 4.875rem;  
    padding-left: 3.75rem;  
    box-sizing: border-box;  
}  
#section1 .wrap .sec_top .sec_box.left h3{  
    font-size: 2.0rem;  
    font-weight: 300;  
}  
#section1 .wrap .sec_top .sec_box.left h3 span{  
    font-weight: 600;  
}  
#section1 .wrap .sec_top .sec_box.left > p{  
    font-size: 1.0rem;  
    font-weight: 400;  
    margin-top: 0.9375rem;  
}  
#section1 .wrap .sec_top .sec_box.left > a{  
    margin-top: 3.5rem;  
    display: inline-block;  
}  
#section1 .wrap .sec_top .sec_box.right{  
    overflow: hidden;  
    position: relative;  
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con{  
    display: flex;  
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .txt{  
    background: #004593;  
    color: #fff;  
    width: 50%;  
    height: 26.25rem;  
    text-align: center;  
    position: relative;
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .txt h6{  
    padding-top: 6.875rem;  
    color: #9fdb4b;  
    font-weight: 800;  
    height: 2.375rem;  
    line-height: 2.375rem;  
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .txt h5{  
    font-size: 1.25rem;  
    line-height: 1.75rem;  
    margin-bottom: 0.6875rem;  
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .txt > p{  
    font-size: 1.0rem;  
    margin-bottom: 2.6875rem;  
}  
#section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .imgs{  
    width: 50%;  
    height: 26.25rem;  
}  
  
#section1 .swiper-pagination{  
    bottom: unset;  
    top: 2.3125rem;  
    width: 50%;  
}  
  
.btn1{  
    padding: 0.6875rem 1.3125rem;  
    box-sizing: border-box;  
    background: #333333;  
    display: inline-block;  
    align-items: center;  
    color: #fff;  
    border-radius: 2.5rem;  
}  
.btn1 p{  
    display: flex;  
    align-items: center;  
}  
.btn1 p span{  
    font-weight: 600;  
    line-height: 1;  
}  
.btn1 p i{  
    margin-left: 0.4375rem;  
    display: flex;  
    align-items: center;  
}  
  
  
.btn2{  
    padding: 0.6875rem 1.3125rem;  
    box-sizing: border-box;  
    background: #fff;  
    display: inline-block;  
    align-items: center;  
    color: #004593;  
    border-radius: 2.5rem;  
}  
.btn2 p{  
    display: flex;  
    align-items: center;  
}  
.btn2 p span{  
    font-weight: 600;  
    line-height: 1;  
}  
.btn2 p i{  
    margin-left: 0.4375rem;  
    display: flex;  
    align-items: center;  
}  
  
#section1 .wrap .sec_bottom {  
    display: flex;  
    justify-content: space-between;  
    margin-top: 2.125rem;  
}  
#section1 .wrap .sec_bottom .sec_box {  
    width: 33.33%;  
    height: 15.25rem;  
    margin-right: 2.125rem;  
    position: relative;  
}  
#section1 .wrap .sec_bottom .sec_box:last-child{  
    margin-right: 0;  
}  
#section1 .wrap .sec_bottom .sec_box .bg_color{  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    opacity: .8;  
}  
#section1 .wrap .sec_bottom .sec_box .con{  
    position: relative;  
    color: #fff;  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    height: 100%;  
}  
#section1 .wrap .sec_bottom .sec_box .con h3{  
    font-weight: 600;  
    font-size: 1.75rem;  
}  
#section1 .wrap .sec_bottom .sec_box .con ul{  
    display: flex;  
    justify-content: center;  
    margin-top: 1.125rem;  
}  
#section1 .wrap .sec_bottom .sec_box .con ul li{  
    margin: 0 0.1875rem;  
    transition: .3s;
}  
#section1 .wrap .sec_bottom .sec_box .con ul li a{  
    font-weight: 700;  
    width: 100%;  
    height: 100%;  
    display: inline-block;  
    padding: 0.4375rem 1.0rem;  
    box-sizing: border-box;  
    border: 0.0625rem solid #fff;  
}  
#section1 .wrap .sec_bottom .sec_box .con ul li.vr{
    background: #548235;
    transition: .3s;
}

#section1 .wrap .sec_bottom .sec_box:nth-child(1) .bg_color{  
    background: #004593;  
}  
#section1 .wrap .sec_bottom .sec_box:nth-child(2) .bg_color{  
    background: #7FBE26;  
}  
#section1 .wrap .sec_bottom .sec_box:nth-child(3) .bg_color{  
    background: #F8B500;  
}  

#section1 .wrap .sec_bottom .sec_box:nth-child(1) .con ul li:hover{  
    background: #fff;
    color: #004593;  
}  
#section1 .wrap .sec_bottom .sec_box:nth-child(2) .con ul li:hover{  
    background: #fff;
    color: #7FBE26;  
}  
#section1 .wrap .sec_bottom .sec_box:nth-child(3) .con ul li:hover{  
    background: #fff;
    color: #F8B500;  
} 
#section1 .wrap .sec_bottom .sec_box .con ul li.vr:hover{
    background: #fff;
}

/* section2 */  
  
#section2 .wrap .sec_top {  
    display: flex;  
    justify-content: space-between;  
}  
#section2 .wrap .sec_top .sec_box {  
    width: 33.33%;  
    height: 13.125rem;  
    margin-right: 1.75rem;  
    position: relative;  
    filter: drop-shadow(0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.2));  
    /* overflow: hidden; */  
}  
#section2 .wrap .sec_top .sec_box:last-child{  
    margin-right: 0;  
}  
#section2 .wrap .sec_top .sec_box .bg_color{  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    transition: .3s;  
}  
#section2 .wrap .sec_top .sec_box .bg_shadow{  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);  
    transition: .3s;  
}  
#section2 .wrap .sec_top .sec_box:hover .bg_shadow{  
    opacity: 0;  
}  
#section2 .wrap .sec_top .sec_box:hover .bg_color{  
    background: #000;  
    opacity: .5;  
    top: 0;  
}  
#section2 .wrap .sec_top .sec_box .con{  
    position: relative;  
    color: #fff;  
    display: flex;  
    flex-direction: column;  
    justify-content:end;  
    align-items: center;  
    height: 100%;  
    padding-bottom: 1.5625rem;  
    box-sizing: border-box;  
    transition: .5s;  
}  
#section2 .wrap .sec_top .sec_box .con .plus{  
    width: 1.5rem;  
    height: 1.5rem;  
    position: relative;  
    transition: .5s;  
}  
#section2 .wrap .sec_top .sec_box .con .plus .line{  
    width: 1.5rem;  
    height: 0.0625rem;  
    background: #fff;  
    position: absolute;      
    bottom: 0;  
    transition: .5s;  
}  
#section2 .wrap .sec_top .sec_box .con h3{  
    margin-top: 0.6875rem;  
    transition: .5s;  
    font-size: 1.25rem;  
    font-weight: 700;  
}  
#section2 .wrap .sec_top .sec_box:hover .con{  
    padding-bottom: 4.6875rem;  
  
}  
#section2 .wrap .sec_top .sec_box:hover .con h3{  
    margin-top: 1.375rem;  
}  
#section2 .wrap .sec_top .sec_box:hover .con .plus .line:nth-child(2){  
    transform: rotate(90deg);  
}  
#section2 .wrap .sec_top .sec_box:hover .con .plus .line:nth-child(1){  
    transform: rotate(360deg);  
}  
#section2 .wrap .sec_bottom{  
    text-align: center;  
    background: #fff;  
    margin-top: 1.75rem;  
    padding-top: 3.0625rem;  
    padding-bottom: 3.0625rem;  
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.05); 
}  
#section2 .wrap .sec_bottom .sec_head h2{  
    font-size: 2.5rem;  
    font-weight: 700;  
}  
#section2 .wrap .sec_bottom .sec_head p{  
    font-size: 1.0rem;  
    color: #666666;  
    margin-top: 0.5rem;  
}  
#section2 .wrap .sec_bottom ul.con_list{  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
}  
#section2 .wrap .sec_bottom ul.con_list li{  
    width: 33.33%;  
    margin-top: 2.75rem;  
    border-right: 0.0625rem solid #dddddd;   
}  
#section2 .wrap .sec_bottom ul.con_list li h3{  
    font-size: 2.625rem;  
    font-weight: 700;  
}  
#section2 .wrap .sec_bottom ul.con_list li h5{  
    font-size: 1.125rem;  
    font-weight: 600;  
    margin-top: 0.3125rem;  
}  
#section2 .wrap .sec_bottom ul.con_list li h5 i{  
    position: relative;  
    margin-left: 0.125rem;  
    padding: 0.1875rem 0;  
    vertical-align: middle;  
    display: initial;  
    cursor: pointer;  
    filter: grayscale(1);  
    transition: .3s;  
}  
#section2 .wrap .sec_bottom ul.con_list li h5 i:hover{  
    filter: none;  
}  
  
#section2 .wrap .sec_bottom ul.con_list li h5 i .balloon{  
    position: absolute;  
    width: 14.875rem;  
    left: 0.625rem;  
    bottom: 1.875rem;  
    background: #F2F2F2;  
    padding: 0.9375rem;  
    border-radius: 0.375rem;  
    text-align: left;  
    font-size: 0.875rem;  
    box-sizing: border-box;  
    opacity: 0;  
    visibility: hidden;  
    transition: .3s;  
}  
#section2 .wrap .sec_bottom ul.con_list li h5 i:hover .balloon{  
    opacity: 1;  
    visibility: visible;  
}  
  
#section2 .wrap .sec_bottom ul.con_list li h5 i .balloon .tail{  
    position: absolute;  
    bottom: -1.0rem;  
    left: 0.625rem;  
}  
#section2 .wrap .sec_bottom ul.con_list li h6{  
    margin-top: 0.375rem;  
}  
#section2 .wrap .sec_bottom ul.con_list li h7{  
    color: #b5b5b5;  
  
}  
#section2 .wrap .sec_bottom ul.con_list li:last-child{  
    border-right: none;  
}  
/* section3 */  
#section3 .wrap .sec_head h2{  
    font-size: 2.5rem;  
    font-weight: 700;  
}  
#section3 .wrap .sec_head h2 span{  
    font-size: 2.5rem;  
    font-weight: 700;  
    color: #004593;
}
#section3 .wrap .sec_wrap{  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    margin-top: 1.1875rem;  
}  
#section3 .wrap .sec_wrap .sec_box.left{  
    width: 45.0rem;  
    background: #fff;  
    padding: 1.125rem 2.5rem;  
    box-sizing: border-box;  
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.05); 
}  
#section3 .wrap .sec_wrap .sec_box.left ul li a{  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  
#section3 .wrap .sec_wrap .sec_box.left ul li .txt_con{  
    border-bottom: 0.0625rem solid #dddddd;  
    margin-right: 2.375rem;  
    padding: 2.625rem 0;  
}  
#section3 .wrap .sec_wrap .sec_box.left ul li:first-child .txt_con{  
    /* padding-top: 0; */  
}  
#section3 .wrap .sec_wrap .sec_box.left ul li:last-child .txt_con{  
    border-bottom: none;  
}  
#section3 .wrap .sec_wrap .sec_box.left ul li h5{  
    font-size: 1.0rem;  
    color: #004593;  
}  
#section3 .wrap .sec_wrap .sec_box.left ul li h4{  
    padding-top: 0.75rem;  
    padding-bottom: 0.3125rem;  
    font-size: 1.25rem;  
    font-weight: 600;  
    width: 25.125rem;  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  /* 말줄임 적용 */      
}  
#section3 .wrap .sec_wrap .sec_box.left ul li p{  
    font-size: 0.875rem;  
    display: -webkit-box !important;  
    -webkit-box-orient: vertical;  
    word-wrap: break-word;  
    text-overflow: ellipsis;  
    overflow: hidden;  
      
    /* ★★ 설정이 필요한 영역 ★★ */  
    /* ★★ 3줄 이상은 말줄임 처리 ★★ */  
    -webkit-line-clamp: 2;      
}  
#section3 .wrap .sec_wrap .sec_box.left ul li .img_con{  
    width: 12.5rem;  
    height: 8.3125rem;  
    flex: none;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top{  
    width: 34.6875rem;  
    background: url(../images/sec3_right_bg.png) no-repeat #004490 88% 80%;  
    color: #fff;  
    padding: 2.5rem 2.5rem;  
    box-sizing: border-box;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .con_head{  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .con_head h4{  
    font-size: 1.5rem;  
    font-weight: 600;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list > a > h5{  
    font-weight: 600;  
    font-size: 1.125rem;  
    margin-top: 1.75rem;  
    margin-bottom: 0.0625rem;  
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list > a > p{  
    margin-bottom: 1.0rem;  
    opacity: .8;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list ul li a{  
    display: flex;  
    justify-content: space-between;  
    padding: 0.625rem 0;  
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list ul li:first-child a{  
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list ul li h5{  
    font-weight: 500;  
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}  
#section3 .wrap .sec_wrap .sec_box.right .con_top .notice_list ul li p{  
    opacity: .8;  
    font-size: 0.875rem;  
    font-weight: 400;  
    flex: none; 
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom {  
    display: flex;  
    justify-content: space-between;  
    margin-top: 1.5625rem;  
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.05); 
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter{  
    background: #fff;  
    width: 19.4375rem;  
    flex: none;  
    padding: 1.5rem 2.5rem;  
    box-sizing: border-box;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter h4{ 
    font-size: 1.5rem; 
    font-weight: 600; 
} 
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con{  
    margin-top: 1rem; 
    display: flex;  
    align-items: center;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .subscribe{  
    background: #F8B500;  
    width: 100%;  
    padding: 2.85rem 2.0625rem;  
    box-sizing: border-box;  
    text-align: center;  
    color: #fff;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con img{  
    filter: drop-shadow(0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.2));  
    width: 8.375rem; 
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con .txt{  
    margin-left: 1.375rem;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con .txt h6{  
    color: #f8b500;  
    font-size: 0.75rem;  
    font-weight: 700;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con .txt h5{  
    font-size: 1.25rem;  
    color: #004490;  
    font-weight: 700;  
    margin-top: 0.5rem;  
    margin-bottom: 0.5rem;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con .txt p{  
    color: #999999;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con .txt a{  
    text-decoration: underline;  
    color: #666666;  
    font-size: 0.875rem;  
    margin-top: 2.9375rem;  
    display: inline-block;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .subscribe h5{  
    font-size: 1.375rem;  
    font-weight: 700;  
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .subscribe a{  
    margin-top: 0.5rem;  
    display: inline-block; 
    cursor: pointer;
}  
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .subscribe a img{ 
    width: 8.8125rem; 
} 
#section3 .wrap .sec_wrap .sec_box.right .con_bottom .subscribe p{  
    font-size: 0.9375rem;  
} 
@media screen and (max-width: 1750px){
    #section0 .visu_slide .slide_txt {
        position: absolute;
        top: unset;
        bottom: 12%;
        transform: unset;
        color: #fff;
    }
    #section0 .visu_slide .lines{
        display: none;
    }
}
@media screen and (max-width: 1340px){
    #section2 .wrap .sec_bottom ul.con_list li h5 i .balloon{
        left: -12.375rem;
    }
    #section2 .wrap .sec_bottom ul.con_list li h5 i .balloon .tail{
        left: unset;
        right: 0.625rem;
    }
}
@media screen and (max-width: 1340px){
    /* #section0 .visu_slide .slide_txt{
        margin-left: 20px;
    } */
} 
  
@media screen and (max-width: 1260px){
  
    #section3 .wrap .sec_wrap{ 
        display: block; 
    } 
    #section3 .wrap .sec_wrap .sec_box.left{ 
        width: 100%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.left ul li .txt_con{ 
        width: 100%; 
    } 
     
    #section3 .wrap .sec_wrap .sec_box.right{ 
        margin-top: 1.5625rem; 
        padding-bottom: 7.5rem; 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
    } 
    #section3 .wrap .sec_wrap .sec_box.left ul li h4{ 
        width: 100%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_top{ 
        width: 40%; 
        margin-right: 1.5625rem; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom{ 
        margin-top: 0; 
        width: 60%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter{ 
        padding: 1.7rem 2.5rem 
    } 
}  
 
@media screen and (max-width: 1024px){
    #section1 .wrap .sec_top{ 
        display: block; 
    } 
    #section1 .wrap .sec_top > div{ 
        width: 100%; 
    } 
    #section1 .wrap .sec_top .sec_box.right{ 
        margin-top: 2.125rem; 
    } 
    #section1 .wrap .sec_bottom{ 
        padding-bottom: 7.5rem; 
    } 
    #section1 .wrap .sec_bottom .sec_box .con h3{
        font-size: 1.55rem;
    }
    #section0 .swiper-button-prev{ 
        left: 2.875rem !important; 
    } 
    #section0 .swiper-button-next{ 
        right: 2.875rem !important; 
    } 
    #section0 .visu_slide .slide1{
        background: url(../images/main1_mo.jpg) no-repeat center center !important;
        background-size: cover !important;
    }
    #section0 .visu_slide .slide2{
        background: url(../images/main2_mo.jpg) no-repeat center center !important;
        background-size: cover !important;
    }
    #section0 .visu_slide .slide3{
        background: url(../images/main3_2_mo.png) no-repeat center center !important;
        background-size: cover !important;
    }
    #section0 .visu_slide .shadow{
        width: 100%;
        height: 45%;
        background: linear-gradient(0deg, #000000b0, transparent);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
}  
 
@media screen and (max-width: 900px){
    #section1 .wrap .sec_bottom{ 
        display: block; 
    } 
    #section1 .wrap .sec_bottom .sec_box{ 
        width: 100%; 
    }     

    #section3 .wrap .sec_wrap .sec_box.right{ 
        display: block; 
    } 
    #section1 .wrap .sec_bottom .sec_box .con h3{
        font-size: 1.75rem;
    }
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom{ 
        margin-top: 1.5625rem; 
        width: 60%; 
    }     
    #section3 .wrap .sec_wrap .sec_box.right .con_top{ 
        width: 100%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom{ 
        width: 100%; 
    } 
     
} 
 
@media screen and (max-width: 690px){

    #section3 .wrap .sec_wrap .sec_box.left ul li .img_con{ 
        display: none; 
    } 
    #section3 .wrap .sec_wrap .sec_box.left ul li .txt_con{ 
        margin-right: 0; 
    } 
} 
@media (max-width: 850px) and (min-width: 650px){
    #section1 .wrap .sec_bottom .sec_box .con h3{ 
        font-size: 1.3rem; 
    } 
} 
@media screen and (max-width: 650px){
    #section0 .visu_slide .slide_txt h3{
        font-size: 2.8375rem;
    }

    #section2 .wrap .sec_top{ 
        display: block; 
    } 
    #section2 .wrap .sec_top .sec_box:first-child{ 
        margin-top: 0; 
    } 
    #section2 .wrap .sec_top .sec_box{ 
        width: 100%; 
        margin-top: 1.75rem; 
    } 
    #section2 .wrap .sec_bottom{ 
        margin-bottom: 7.5rem; 
    } 
    #section2 .wrap .sec_bottom ul.con_list{ 
        display: block; 
        padding: 0 2.5rem; 
    } 
    #section2 .wrap .sec_bottom ul.con_list li{ 
        width: 100%; 
        border-right: none; 
        border-bottom: 0.0625rem solid #dddddd; 
        padding-bottom: 2.75rem;    
    } 
    #section2 .wrap .sec_bottom ul.con_list li:last-child{ 
        border-bottom: none; 
    }     
}  
 
@media screen and (max-width: 550px){
    #section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con{ 
        display: block; 
    } 
    #section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .imgs{ 
        display: none; 
        width: 100%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter{ 
        width: 100%; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom{ 
        display: block; 
    } 
    #section3 .wrap .sec_wrap .sec_box.right .con_bottom .letter .letter_con{ 
        justify-content: center; 
    } 
    #section1 .wrap .sec_top .sec_box.left{ 
        padding-top: 2.4rem; 
        padding-left: 1.85rem; 
    } 
    #section1 .wrap .sec_top .sec_box.right .swiper-slide .slide_con .txt{ 
        width: 100%; 
    } 
    #section1 .swiper-pagination{ 
        width: 100%; 
    } 
    #section0 .swiper-button-prev{ 
        /* left: 0.875rem !important; */ 
        width: 3.25rem !important; 
        height: 3.25rem !important; 
        background-size: 3.25rem 3.25rem !important;         
    } 
    #section0 .swiper-button-next{ 
        /* right: 0.875rem !important; */ 
        width: 3.25rem !important; 
        height: 3.25rem !important; 
        background-size: 3.25rem 3.25rem !important;       
    }     
    #section0 .visu_slide .slide_txt h3{
        font-size: 2.4375rem;
    }
    #section0 .visu_slide .slide_txt h4{
        font-size: 1.425rem;
    }
    .pause{
        /* width: 100%;
        left: unset;
        right: 20px; */
        left: 85%;
    }
} 
@media screen and (max-width: 500px){
    #section0 .visu_slide .slide_txt h4{
        font-size: 1.125rem;
    }

    #section0 .visu_slide .slide_txt h3{
        font-size: 1.8375rem;
    }
    #section0 .swiper-button-next,
    #section0 .swiper-button-prev{
        display: none;
    }
}
  
@media screen and (max-width: 420px){
    #section1 .wrap .sec_top .sec_box.left{ 
        background-position: 45% center !important; 
    } 
    #section0 .visu_slide .slide_txt h3{
        font-size: 1.7375rem;
    }
    #section0 .visu_slide .slide_txt h4{
        width: 100%;
        font-size: 1.025rem;
    }
} 